@charset "UTF-8";

body {
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1 {
    color: darksalmon;
}

h2 {
    color: chartreuse;
}

p {
    text-align: justify;
}

a {
    color: firebrick;
}